/* - - - - - - - - - - Tag Styles - - - - - - - - - - */
.blog-tags {
  width: 100%;
  background-color: #ffffff;
  padding: 0 20px 20px;
}

.blog-tags h1 {
  font-size: 30px;
  text-align: center;
  line-height: 1.3;
  color: #263959;
}

.blog-tags h2 {
  color: #263959;
  margin: 10px 0;
}



.tags {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}



.tags_top{
   
   border-bottom: 1px solid #e5e5e5; 
}

.tags_bottom{
   font-size: 1.2em;
}

.tags_values{
    
    margin-top: 18px;
}



.tags li {
  display: inline-block;
  margin: 5px 10px 5px 0px;
  list-style: none;
}

.tags li a {
  text-decoration: none;
  color: #263959;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ecf0f1;
  background-color: #fafafa;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.tags li a:hover {
  background-color: #ecf0f1;
}

.tag-list span a {
  text-decoration: none;
  color: #263959;
}

.tag-list span a:hover {
  text-decoration: underline;
  opacity: .8;
}

/* - - - - - - - - - Custom Paragraph Styles - - - - - - - - - - */

.tiny {
  font-size: 10px;
}