<!-- <div >
  <nav >
    
    <a aria-label="Share on Google Plus"  href="https://plus.google.com/share?url=https%3A//www.blog.google/products/chrome/chromes-turning-10-heres-whats-new/" target="_blank" data-analytics="{
      &quot;category&quot;: &quot;social&quot;,
      &quot;action&quot;: &quot;share&quot;,
      &quot;label&quot;: &quot;g+&quot;
      }">
      <svg aria-hidden="true" class="h-c-icon h-c-icon--social h-c-icon--30px" viewBox="0 0 30 30">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-gplus"></use>
      </svg>
    </a>
    <a aria-label="Share on Facebook" class="article-share__link uni-click-tracker" href="https://www.facebook.com/sharer/sharer.php?caption=Chrome%27s%20turning%2010%2C%20here%27s%20what%27s%20new&amp;u=https%3A//www.blog.google/products/chrome/chromes-turning-10-heres-whats-new/" target="_blank" data-analytics="{
      &quot;category&quot;: &quot;social&quot;,
      &quot;action&quot;: &quot;share&quot;,
      &quot;label&quot;: &quot;facebook&quot;
      }">
      <svg aria-hidden="true" class="h-c-icon h-c-icon--social h-c-icon--30px" viewBox="0 0 30 30">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-facebook"></use>
      </svg>
    </a>
    <a aria-label="Share on Twitter" class="article-share__link uni-click-tracker" href="https://twitter.com/intent/tweet?text=Chrome%27s%20turning%2010%2C%20here%27s%20what%27s%20new%20%40google&amp;url=https%3A//www.blog.google/products/chrome/chromes-turning-10-heres-whats-new/" target="_blank" data-analytics="{
      &quot;category&quot;: &quot;social&quot;,
      &quot;action&quot;: &quot;share&quot;,
      &quot;label&quot;: &quot;twitter&quot;
      }">
      <svg aria-hidden="true" class="h-c-icon h-c-icon--social h-c-icon--30px" viewBox="0 0 30 30">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-twitter"></use>
      </svg>
    </a>
    <a aria-label="Share on LinkedIn" class="article-share__link uni-click-tracker" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A//www.blog.google/products/chrome/chromes-turning-10-heres-whats-new/&amp;title=Chrome%27s%20turning%2010%2C%20here%27s%20what%27s%20new" target="_blank" data-analytics="{
      &quot;category&quot;: &quot;social&quot;,
      &quot;action&quot;: &quot;share&quot;,
      &quot;label&quot;: &quot;linkedin&quot;
      }">
      <svg aria-hidden="true" class="h-c-icon h-c-icon--social h-c-icon--30px" viewBox="0 0 30 30">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-linkedin"></use>
      </svg>
    </a>
    <a aria-label="Share with Email" class="article-share__link uni-click-tracker" href="mailto:?subject=Chrome%27s%20turning%2010%2C%20here%27s%20what%27s%20new&amp;body=Check out this article on the Keyword:%0A%0AChrome%27s%20turning%2010%2C%20here%27s%20what%27s%20new%0A%0AIntroducing Google Chrome, 10th anniversary edition%0A%0Ahttps%3A//www.blog.google/products/chrome/chromes-turning-10-heres-whats-new/" target="_blank" data-analytics="{
      &quot;category&quot;: &quot;social&quot;,
      &quot;action&quot;: &quot;share&quot;,
      &quot;label&quot;: &quot;email&quot;
      }">
      <svg aria-hidden="true" class="h-c-icon h-c-icon--social h-c-icon--30px" viewBox="0 0 30 30">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-mail"></use>
      </svg>
    </a>
    
    <div class="copy-link mobile">
      <div class="copy-link__popover glue-c-popover" glue-popover="">
        <a class="glue-c-popover__trigger copy-link__trigger" role="button" tabindex="0">
          <svg role="img" class="h-c-icon h-c-icon--color-text" title="Share" id="copy-popover-icon">
            <use xlink:href="#social-link"></use>
          </svg>
        </a>
        <div class="glue-c-popover__dialog copy-link__content" aria-labelledby="copy-popover-icon" role="dialog" tabindex="-1" aria-hidden="false">
          <input class="h-c-copy  copy-link__url" value="https://www.blog.google/products/chrome/chromes-turning-10-heres-whats-new/" id="mobile-copy-link" readonly="readonly" type="text">
          <button class="copy-link__copy-btn cta" glue-copy="mobile-copy-link" glue-copy-success="Copied to clipboard" glue-copy-fail="Press Ctrl+C or ⌘+C to copy">Copy link</button>
          <div class="glue-c-popover__close-btn h-u-visually-hidden" aria-label="Close" role="button" tabindex="0">×</div>
        </div>
      </div>
    </div>
  </nav>
</div> -->

 <ul style="text-align: center;margin-bottom: 0px; padding: 0px;">

      <li style="list-style: none;display: inline-block;">
  <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google Plus" target="_blank">
        <i class="fa fa-google-plus fa-stack fa-lg" style="color: #31567b; width: 1.4em;"></i></a></li>
      <li style="list-style: none; display: inline-block;">
<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank">
  <i class="fa fa-facebook fa-stack fa-lg" style="color: #31567b; width: 1.4em;"></i></a></li>
      <li style="list-style: none;display: inline-block;">
    <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}" target="_blank">
        <i class="fa fa-twitter fa-stack fa-lg" style="color: #31567b; width: 1.4em;"></i></a></li>
      <li style="list-style: none;display: inline-block;">
<a href = "https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }} &title={{page.title}}&source={{site.url}}" target="_blank">
        <i class="fa fa fa-linkedin-square fa-stack fa-lg" style="color: #31567b; width: 1.4em;"></i></a></li>  
      <li style="list-style: none;display: inline-block;"><i class="fa fa fa-envelope fa-stack fa-lg" style="color: #31567b; width: 1.4em;"></i></li>
    </ul>
    <!-- <aside class="social-share">
    <h2>Share this:</h2>
    <ul>
      <li class="twitter"><a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={% if page.description %}{{ page.description | url_escape }}{% else %}{{ page.title | url_escape }}{% endif %}{% if site.twitter %}&via={{ site.twitter }}{% endif %}" title="Share on Twitter">Twitter</a></li>
      <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}{% if page.description %}&t={{ page.description | url_escape }}{% else %}{{ page.title | url_escape }}{% endif %}" title="Share on Facebook">Facebook</a></li>
      <li class="googleplus"><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google Plus">Google+</a></li>
    </ul>
  </aside> -->