<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container" style="
    max-width: 1000px;>
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
          <li><a href="{{ site.baseurl }}/">Posts</a></li>
          <li><a href="{{ '/projects' | prepend: site.baseurl }}">Projects</a></li>
          <li><a href="{{ '/tags' | prepend: site.baseurl }}/">Tags</a></li>
          
        </ul>
      </div>
    </nav>

    <main>
      {{ content }}
      {% if page.gallery %}
        {% include pswp.html %}
      {% endif %}
    </main>

    {% include footer.html %}
  </body>
</html>
